@page "/"
@attribute [OutputCache(Duration = 10)]
@using OpenFeature
@using OpenFeature.Model
@inject IFeatureClient FeatureClient

<PageTitle>Home</PageTitle>

@if (_isPageV2Enabled == false)
{
    <h1>Hello, world!</h1>
    <p>Welcome to your new app.</p>
}
else
{
    <h1>Hello, world! 🌍</h1>
    <p>Welcome to your new app.</p>
    <p>This is the v2 of this page! Enjoy <b>OpenFeature</b>!</p>
}

@code {
    private bool? _isPageV2Enabled;

    protected override async Task OnInitializedAsync()
    {
        var builder = EvaluationContext.Builder();
        builder.Set("speaker", "pt");
        var context = builder.Build();

        _isPageV2Enabled = await FeatureClient.GetBooleanValueAsync("page-v2", false, context);
    }
}
